<!DOCTYPE html>
<html>
  <head>
    <title>CRUD</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class='position-relative'>
    <%= render partial: 'layouts/toast', locals: { flash: } %>
    <ul>
      <li><%= link_to 'Task list', root_path %></li>
      <%# BEGIN %>

      <%# END %>
    </ul>
    <div class="px-4">
      <%= yield %>
    </div>
  </body>
</html>
